@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model IEnumerable<OA.Web.Models.UserViewModel>

@{
    ViewData["title"] = "Index";
}

<div class="top-buffer"></div>
<div class="panel panel-primary">
    <div class="panel-body">
        <div class="btn-group">
            <a asp-action="AddHealth" asp-controller="User" asp-route-id="@ViewBag.id" class="btn btn-primary">
                <i class="glyphicon glyphicon-plus"></i>  Add Health Rating
            </a>
        </div>
        <div class="top-buffer"></div>

        <table class="table table-bordered table-striped table-condensed">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Created At</th>
                    <th>Health Rating</th>
                    <th>Comment</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.ID)</td>
                        <td>@Html.DisplayFor(modelItem => item.CreatedAt)</td>
                        <td>@Html.DisplayFor(modelItem => item.HealthRating)</td>
                        <td>@Html.DisplayFor(modelItem => item.Comment)</td>
                        <td>
                            <a asp-action="editHealth" asp-controller="User" asp-route-id="@item.ID" class="btn btn-info">
                                Edit
                            </a>
                            <a  asp-action="deleteHealth" asp-controller="User" asp-route-id="@item.ID" class="btn btn-danger">
                                <i class="glyphicon glyphicon-trash"></i>  Delete
                            </a>
                        </td>
                    </tr>

                }
            </tbody>
        </table>
    </div>
</div>

@*@Html.Partial("_Modal", new BootstrapModel { ID = "modal-action-user", AreaLabeledId = "modal-action-user-label", Size = ModalSize.Large })

    @section scripts
    {
        <script src="~/js/user-index.js" asp-append-version="true"></script>
    }*@


