@model IEnumerable<OA.Web.Models.UserDetailsVIew>

@{
    ViewData["Title"] = "User Details";
}

<div class="container">
    <h1 class="text-center">User Details</h1>
    <br>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HealthId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreationTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HealthRating)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Comment)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HealthId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreationTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HealthRating)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Comment)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>